.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    max-width: 600px;
    margin: 0 auto;
}

/*.image-container {
    height: 300px;
    max-width: 500px;
    border-radius: 5%;
    box-shadow: 6px 6px 6px gray;
    margin: 0 auto;
    overflow: hidden;
}*/

.card img {
    height: 300px;
    width: 600px;
    border-radius: 5%;
    object-fit: cover;
   
}