.card { 
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.card img{ 
    height: 600px;
    max-width: 900px;
    border-radius: 5%;
    box-shadow: 6px 6px 6px gray;
    
}


