.carousel-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  padding: 0;
}

.buttons-container {
  width: 50%;
  height: 8%;
  position: absolute;
  bottom: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-left: 20px;


}

.button-next,
.button-prev {
  background-color: transparent;
  border: none;
  margin-left: 20px;
}

.button-prev {
  margin-right: 20px;
}

.icon {
  color: blue;
}

/*Transition effect*/
/*Enter transition*/
.card-transition-enter {
  opacity: 0;
}

.card-transition-enter-active {
  opacity: 1;
  transition: opacity 3000ms;
}

.card-transition-enter-done {
  opacity: 1;
}

/*Exit transition*/
.card-transition-exit {
  opacity: 1;
}

.card-transition-exit-active {
  opacity: 0;
  transition: opacity 3000ms;
}

.card-transition-exit-done {
  opacity: 1;
}